<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ObjectEditor" ToolsVersion="15.0">
   <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
     <Rule Id="CC0001" Action="None" />
     <Rule Id="CC0105" Action="None" />
   </Rules>
   <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
     <Rule Id="SA1200" Action="None" />
     <Rule Id="SA1503" Action="None" />
   </Rules>
</RuleSet>
